:root {
  --white: hsl(0, 0%, 100%);
  --lightpink: hsl(275, 100%, 97%);
  --graypurple: hsl(300, 42%, 49%);
  --darkpurple: hsl(292, 42%, 14%);
}

html,
body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  box-sizing: border-box;
}

main {
  background-color: var(--lightpink);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background {
  height: 35.55vh;
  width: 100vw;
  position: absolute;
  top: 0;
  background-image: url("/images/background-pattern-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.faq-wrapper {
  max-width: 41.78%;
  background-color: var(--white);
  z-index: 10;
  padding: 50px;
  border-radius: 25px;
}

h1 {
  font-weight: 700;
  font-size: 4rem;
  margin-top: 0;
}

h1 img {
  padding-right: 1rem;
}

h2 {
  font-weight: 600;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2:not(:last-of-type) {
  margin: 2rem 0;
}

h2:last-of-type {
  margin-top: 2rem;
}

button {
  border: none;
  background-color: var(--white);
  cursor: pointer;
}

h2:hover {
  cursor: pointer;
  color: var(--graypurple);
}

.accordion {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.accordion:not(:nth-of-type(1)) {
  display: none;
}

hr {
  border: 1px var(--lightpink) solid;
}
