:root {
  --white: hsl(0, 0%, 100%);
  --lightpink: hsl(275, 100%, 97%);
  --graypurple: hsl(300, 42%, 49%);
  --darkpurple: hsl(292, 42%, 14%);
}

html,
body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
}

main {
  background-color: var(--lightpink);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background {
  height: 35.55vh;
  width: 100vw;
  position: absolute;
  top: 0;
  background-image: url("./images/background-pattern-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.faq-wrapper {
  max-width: 41.78%;
  background-color: var(--white);
  z-index: 10;
  padding: 50px 50px 30px 50px;
  border-radius: 25px;
}

h1 {
  display: inline-block;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.header img {
  display: inline-block;
  padding-right: 2rem;
}

h2 {
  font-weight: 600;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2:not(:last-of-type) {
  margin: 1rem 0;
}

h2:last-of-type {
  margin-top: 1rem;
}

button {
  border: none;
  background-color: var(--white);
  cursor: pointer;
  width: 100%;
}

h2:hover {
  cursor: pointer;
  color: var(--graypurple);
}

.accordion {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.accordion:not(:nth-of-type(1)) {
  display: none;
}

hr {
  border: 1px var(--lightpink) solid;
}

@media screen and (max-width: 991px) {
  .background {
    background-image: url("./images/background-pattern-mobile.svg");
    background-size: contain;
  }

  .faq-wrapper {
    max-width: 90%;
    margin: 0 1.5rem;
    padding: 1.5rem 2rem 1rem 2rem;
    border-radius: 5px;
  }

  h1 {
    font-size: 3rem;
  }

  button {
    padding: 0;
  }

  h2 {
    text-align: left;
    font-size: 1.3rem;
  }

  .accordion {
    font-size: 0.95rem;
  }
}
